body{
  background-color:#2c2c44;
  font-family:Helvetica;
}

#h1 {
    margin-top: 55px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    font-size: 50px;
    font-weight: 300;
    color: black;
    text-align: center;
}

.navbar-default .navbar-nav>li>a{
   color:white; 
}
.icon-bar { 
background-color: white;
}

.navbar-default {
   background-color:#2c2c44;
   border-color: #2c2c44;
}
#wishlist a:hover, #news a:hover, #home a:hover, #pokedex a:hover, #items a:hover, #wishlist a:focus, #news a:focus, #home a:focus, #pokedex a:focus, #items a:focus {
    color:orangered;
    text-decoration:none;
}
footer p {
    color: white;
    text-align: center;
}

#whiteBackground , #whiteBlock {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;;
    margin-bottom: 50px;
    background-color: white;
}

.img, #imgaeMiddle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    width: 30px;
    height: 30px;
}

li {
    font-size: 20px;
}

nav {
    margin-top: 30px;
    margin-bottom: 20px;
}

#header {
    background-image: url("../images/grassland.jpg");
    display: block;
    background-size: 100%;
    background-position: center;
}

#pokemonImg, #pokemonTitle, #imageBefore, #text, #icon {
    cursor: pointer;
}

#item-description, #about-description, #pokedex-description {
    text-align: center;
    font-size: 1.2em;
}

#it-table, #it-table th, #it-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

#it-table td {
    padding-bottom: 5%;
}

#it-table img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#it-table #stardust {
    width: 12%;
    height: auto;
}

#price {
    text-align: center;
}

#h2 {
    font-size:36px;
}

#description{
    font-size:14px;
    padding-left:50px;
}

#teams{
    font-size:14px;
}

#descriptionDivs{
    padding:2em;
}

#teams {
    background-color: lightgray;
    display: block;
    margin:auto;
    padding:2em;
    text-align:center;
}

#instinct, #valor, #mystic {
    display:none;
    color:black;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    padding:20px;
}

#instinctImg {
    margin-top:40px;
    margin-bottom:33px;
    margin-left:30px;
    margin-right:20px;
}

#mysticImg {
    margin:5px;
    margin-left:20px;
}

#valorImg{
    margin-left:20px;
}

#instinct {
    background:rgba(225, 225, 0, .5);
}

#valor {
    background:rgba(255, 0, 0, .5);
}

#mystic {
    background:rgba(0, 0, 255, .3);
}

#yellowBlock {
    padding: 20px;
    background-color: lightyellow;
}

#addToWishList {
    margin-top: 45px;
    margin-bottom: 45px;
}

#page {
    display: none;
}
#loading {
    display: block;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    width: 100vw;
    height: 200vw;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    /*background-image: url("http://2.media.dorkly.cvcdn.com/25/38/4d9df0e6985ab9e9218f3874ccf9649d.gif");*/
    background-repeat: no-repeat;
    background-position: center top 200px;
    background-size: 10%;
}

.navbar-brand {
    padding: 9px;
    margin-left: 4px;
}

@media screen and (max-width: 768px) {
    #whiteBackground #it-table .hidedd { display: none; }
}