<main class="container" role="main">
    <header>
        <div id="header" class="container">
            <h1 id="h1">About</h1>
            <p id="about-description"> Here's what you need to know about before playing Pokemon Go.</p>
        </div>
    </header>
    <div class="container" id="whiteBackground">
        <div id="descriptionDivs" ng-repeat="description in descriptions">
            <h2 id="h2">{{description.header}}</h2>
            <p id="description">{{description.info}}</p>
        </div>
        <div id="teams">
            <p>There are three teams: Team Instinct, Team Valor, and Team Mystic Each team is represented by a color and insignia
                based on one of the legendary birds.
            </p>
            
                <div class="col-xs-12 col-md-4">
                    <a href=""><img id="instinctImg" src="images/zapdos gif.gif" alt="zapdos gif" style="height:100%" ng-click="toggle('instinct')"></a>
                    <div class="inline-block" id="instinct"><strong>Team Instinct</strong> is represented by the color yellow and values intuition in Pokemon. The
                        team’s insignia is based on the electric bird, Zapdos. </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <a href=""><img id="valorImg" src="images/moltres gif.gif" alt="moltres gif" style="height:100%" ng-click="toggle('valor')"></a>
                    <div id="valor" class="inline-block"><strong>Team Valor</strong> is represented by red and values power in Pokemon. The team’s insignia is
                        based on the legendary fire bird, Moltres.</div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <a href=""> <img id="mysticImg" src="images/articuno gif.gif" alt="articuno gif" style="height:100%" ng-click="toggle('mystic')"></a>
                    <div id="mystic" class="inline-block"><strong>Team Mystic</strong> is represented by the color blue and values wisdom in Pokemon. The team’s
                        insignia is based on the legendary ice bird, Articuno.</div>
                </div>
            
        </div>
    </div>

</main>