<main class="container" role="main">
    <form id="searchButton" name="searchForm" role="form" novalidate>
            <div class="form-group form-inline">
                <input type="text" name="search" id="title" class="form-control" autofocus ng-model="search.name">
                <button class="btn btn-primary"><i class="fa fa-search" aria-label="Search"></i></button>
            </div>
    </form>
    
    <header>
        <div id="header" class="container">
            <h1 id="h1">Items</h1>
            <p id="item-description"> Items are helpful tools that trainer can get in game.</p>
        </div>
    </header>

    <div id="whiteBackground" class="container">
        <table id="it-table" class="table">
            <thead>
                <tr>
                    <th class="col-xs-2 hidedd" ><a href="">Image</a></th>
                    <th class="col-xs-2" ng-click="sortBy('name')"><a href="">Item</a></th>
                    <th class="col-xs-4 hidedd" ng-clcik="sortBy('description')"><a href="">Description</a></th>
                    <th class="col-xs-2" ng-click="sortBy('-cost')"><a href="">Price</a></th>
                    <th class="col-xs-2 " ng-click="sortBy('gain')"><a href="">Gain Method</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:ordering | filter:search:strict">
                    <td class="col-xs-2 hidedd"><img ng-src="{{item.img}}"></td>
                    <td class="col-xs-2 ">{{item.name}}</td>
                    <td class="col-xs-4 hidedd">{{item.description}}</td>
                    <td class="col-xs-2 " id="price">{{item.cost}}<img id="coins " src="images/pokecoin.png " alt="A pokecoin"></td>
                    <td class="col-xs-2 ">{{item.gain}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>