<main class="container" role="main">
    <form id="searchButton" name="searchForm" role="form" novalidate>
            <div class="form-group form-inline">
                <input type="text" name="title" id="title" autofocus ng-model="searchProducts">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
    </form>
    <header>
        <div id="header" class="container">
            <h1 id="h1">Pokédex</h1>
            <p id="pokedex-description"> The Pokédex is a comprehensive list of Pokémon that appear in Pokémon Go.</p>
        </div>
    </header>
    
    <div id="whiteBackground" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="pokemon in pokedex | orderBy:ordering  | filter:searchProducts">
                    <img ui-sref="detail( {'pokemon':pokemon.entry_number} )"  id="pokemonImg" ng-src="{{pokemon.pokemon_species.image}}" class="img">
                    <p ui-sref="detail( {'pokemon':pokemon.entry_number} )"  id="pokemonTitle" class="text-center">{{pokemon.pokemon_species.name}}</p>
                </div>
            </div>
    </div>

</main>